*{
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: #989898;
    color: white;
}
.container{
    background-color: #111c2f;
    width: 100%;
    min-width: 300px;
    margin: auto;   
    /* padding: 15px; */
    display: flex;
    flex-direction: column;
    position: relative;
}
.avatar{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 100%;
    background-color: #111c2f;
    color: white;
    font-size: 1.4em;
    text-align: center;
}
.profile p{
    font-weight: 400;
    font-size: 1.2em;
    margin: 0;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: start;
}

.wish{  
    animation-name: hide;
    animation-duration: 2.05s;
}
@keyframes hide{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.wish h1{
    font-weight: 500;
    font-size: 3em;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;

}
.wish span{
    display: block;
    line-height: 1;
    color: #627aff;
}
p{
    margin: 0;
}

/* .stickContainer{
    position: sticky;
    top: 0;
    margin-bottom: 2px;
} */

.dateAndRatio{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.headingText{
    font-size: 1.2em;
    font-weight: 400;
}
.smallText{
    color: #5e6b81;
}
.text-end{
    text-align: end;
}

.tabs{
    margin-top: 10px;
    border-bottom: 2px solid white;
    display: flex;

}

.tabBtn{
    width: 49.49%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
.tabBtn button{
    border: none;
    font-family: calibri;
    font-weight: 300;
    color: white;
    background-color: transparent;
}
.tabBtn span{
    font-weight: 700;
    text-align: center;
    background-color: #5e8bff;
    /* border: 1px solid #ffffff; */
    border-radius: 50px;
    padding: 0px 10px;
}

.taskCard{
    background-color: #9decff;
    color: #111c2f;
    padding: 20px;
    border-radius: 40px;
}
.taskCard .avatarOnCard{
    display: flex;
    justify-content: space-between;
}
.taskCard .taskTitle{
    display: flex;
    justify-content: space-between;
}
.taskCard .taskCardDone{
    display: flex;
    align-items: center;
}
.taskCard .taskCardDone button{
    /* background-color: transparent; */
    background-color: #5e8bff;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-left: 10px;
}
.taskCardDone > p{
    color: #111c2f;
    font-weight: 700;
    font-size: 0.9em;
}
.tick{
    width: 32px;
    transform: scale(1.4);
    filter: invert(1);
}
.taskList > ul{
    margin: 0;
    margin-top: 5px;
    height: calc(100vh - 170px);
    padding: 0; 
    overflow: auto;
}
li{
    list-style: none;
    margin-bottom: 10px;
}
.taskTitle{
    width: 100%;
}
.taskTitle > p{
    font-weight: 600;
    font-size: 1.5em;
}
.taskDescription .desTitle{
    font-weight: 700;
}
.taskDescription .description{
    font-weight: 450;
    line-height: 1;
}
hr{
    margin: 2px 0;
    border: none;
    border-top: 1px solid #111c2f;
}
.addTaskBtn{
    border: none;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-color: #212121;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 3px;
}
.addTaskBtn img{
    width: 25px;
    filter:invert(1);
}


